*{
    margin:0;
    padding:0;
}
body
{
margin: 0;
padding: 0;
background-repeat: cover;
font-family: Poppins;
overflow-x: hidden;

}
a{text-decoration: none;}
.header
{
   position: relative;
   height: 166px;
}
.header-top
{ 
  position: absolute;  
  height: 33px;
  width: 100%;
}
/*-----------style header-right---------*/
.header-right
{
    width: 15%;
    margin-left: 850px;
    margin-top: 7px;
}
.header-right ul
{
    margin-left: 10px;
    text-align: right;
    text-align: center;
}
.header-top ul li
{
    display: inline-block;
}
.header-right li
{
    margin-left: 15px;
}
.header-right ul li .fa
{
    font-size: 15px;
    line-height: 20px;
    transition: .6s;
    color: #C99F3A;
}

.login
{
    position: absolute;
    margin-left: 1045px;
    margin-top: -25px;
}
.login ul
{
    margin-left: 10px;
   /* text-align: right;*/
   /* text-align: center;*/
}
.login li
{
    display: inline-block;
}
.login li
{
    margin-left: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:13px;
}
 .login ul li .fa
{
    font-size: 15px;
    line-height: 20px;
    transition: .6s;
    color: #C99F3A;
    margin-right: 7px;
}
/*-----------style header-left--------*/
.header-left
{
    margin-top: -17px;
    margin-left: 97px;
}
p{
    color:#C99F3A;
    font-family: 'Courier New', Courier, monospace;
}
hr
{
    margin-top: 10px;
    width: 84%;
    margin-left: 98px;
    
}
/*------------header-middle-------*/
.header-middle
{
    position: absolute;
    width: 100%;
    margin-top: 30px;
    height: 83px ;
}
.search-box
{
    margin-left: 100px;
    transition: translate(-50%,-50%);
    height: 30px;
    float:left;
    border-radius: 40px;
    padding: 10px;
    margin-top: 22.5px; 
}
.search-btn
{
    color:black;
    float:left;
    width : 30px;
    height: 30px;
    border-radius: 50%;
    background:#fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 4px;
}
.search-btn .fa:hover
{
    color: #C99F3A;
}
.search-txt
{
    border: none;
    background: none;
    outline: none;
    float: right;
    padding: 0;
    color: black;
    font-size: 15px;
    margin-left: 5px;
    margin-top: 5px;
}
/*---------logo---------*/
.logo
{
    position: absolute;
    margin-top: 33px; 
    margin-left: 500px;
    width: 20%;
    justify-content: center;
}
img
{
    margin-left: 50px;
    width: 60%;
}
/*---------wishlist-------*/
.wishlist
{
    position: absolute;
    left: 990px;
    top: 30px; 
}
.wishlist-link .fa
{
    font-size: 25px;
    line-height: 30px;
    color: #000;
    margin-right: 10px;
}
.wishlist-link .fa:hover
{
    color: #C99F3A ;
}
.wishlist-count ,.cart-count
{
    position: absolute;
    border-radius: 50%;
    padding:0px 7px;
    left: 18px;
    top: -10px;
    background-color: #C99F3A;
    display: inline-block;
    color: #000;
  }
.wishlist-txt:hover
{
    color:  #C99F3A;
}
.wishlist-txt ,.cart-txt
{
  color: black;
}
/*--------cart------------*/
.cart
{
    position: absolute;
    left: 1130px;
    top: 30px; 
}
.cart-products .fa
{
    font-size: 25px;
    line-height: 30px;
    color: #000;
    margin-right: 10px;
}
.cart-products .fa:hover
{
    color: #C99F3A ;
}
.cart-txt:hover
{
  color: #C99F3A;
}

/*----------menu-bar style--------*/
.menu-bar
{ 
  position:absolute;
  background:#000;
  text-align: left;
  height: 50px;
  margin-top: 114px;
  width: 100%;
}
.menu-bar ul
{   
    display:inline-flex;
    margin-left: 80px;
    list-style: none;
    padding: 6px;
    
}
.menu-bar ul li
{
    list-style: none;
    margin: 10px;
    font-family: 'Archivo Black', sans-serif;
}
.menu-bar ul li a
{
    color: #fff;
    text-decoration:none;
}
.active ,.menu-bar ul li a:hover
{
  border-bottom:  2px solid #C99F3A;
}
.menu-bar ul li a:hover
{
  color: #C99F3A;
}
/*-----------------sub-menu-1-----------*/
.sub-menu-1
{
    display:none;
    position: absolute;
    z-index: 1000;
}
.menu-bar ul li:hover .sub-menu-1
{
    display: block;
    position: absolute;
    background: #000;
    margin-top: 1px;
}
.menu-bar ul li:hover .sub-menu-1 ul
{
    display: block;
    margin: 10px;
}
.menu-bar ul li:hover .sub-menu-1 ul li
{
    width: 150px;
    padding: 5px;
    border-bottom: 1px dotted #fff;
}
.menu-bar ul li:hover .sub-menu-1 ul li:last-child
{
    border-bottom: none;
}
.menu-bar ul li:hover .sub-menu-1 ul li a:hover
{
    color: #C99F3A;
    border-bottom: 0;
}
/*------------offre-----*/
.offre
{
    position: absolute;
    margin-top: 112px;
    margin-left: 965px;
}
.offre i
{ 
    margin-top: 15px; 
    color:  #C99F3A;
    font-size: 20px;
    line-height: 20px;
}
.offre p
{
   color: white;
   margin-left: 30px;
}
p{
    margin-top: -19px;
}
/*-------------------slider------------------------*/
.slider
{
   position: relative;
   width: 100%;
  overflow: hidden;
   top: 160px;
}
.slides-container
{
 height: 500px;
  transition: 900ms cubic-bezier(0.48, 0.15, 0.18, 1);
  position: relative;
}
.slide-image {
  height: 100%;
  width: 100%;
  position: absolute;
}
.slide-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-top: 0;
  margin-left: 0;
}

.next-btn,.prev-btn 
{
  background: none;
  position: absolute;
  top: 50%;
  padding:16px;
  transform: translateY(-50%);
  font-size: 20px;
  height:15px;
  width: 15px;
  border: 1px #fff solid;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
  z-index: 100;
  cursor: pointer;
  transition: 400ms;
}
.prev-btn .fa ,.next-btn .fa
{
  position: absolute;
  color: #fff;
  font-size: 20px;
  margin-top: 0;
}
.next-btn:hover,.prev-btn:hover 
{
  background: #C99F3A;
}

.prev-btn {
  left: 25px;
}

.next-btn {
  right: 25px;
}
/* Navigation Dots */

.navigation-dots {
  display: flex;
  height: 32px;
  align-items: center;
  justify-content: center;
  margin: 16px 0;
  position: relative;
  top: 60%;
}

.single-dot {
  background: #fff;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  margin: 0 8px;
  cursor: pointer;
  transition: 400ms;
}

.single-dot.active {
  background:#C99F3A;
}
/*-------------*/
.wrapper-centre
{
  z-index: 200;
  position: relative;
  text-align: center;
  top: -350px;
}
.wrapper-top h5
{
  color: #fff;
  font-size: 16px;
  margin-bottom: 10px;
}
.wrapper-middle h3
{
  color: #fff;
  font-size: 70px;
  letter-spacing: 10Px;
}
.wrapper-botton input
{
  border:none;
    background:none;
    outline: none;
    color: #FFF;
    font-size: 13px;
    border-style: solid;
    border-color: #FFF;
    border-radius: 0 0 0 0;
    padding: 1.3em 1.9em 1em 1.9em;
}
.wrapper-botton input:hover
{
    color:  #C99F3A;
    border-color: #C99F3A;
}
/*------------categories------------*/
.categories
{
  position: relative;
  top:70%;
  margin: 10px 50px;
}
.categories  img 
{
   width: 560px;
   height: 600px;
   object-fit:cover;
   object-position: center;
   filter: grayscale(100%);
   transition: 1s;   
}
.categories img:hover
{
  filter: grayscale(0);
}
.categories .WOMEN-shop
{
   position: absolute;
   max-width: 500px;
   top: 40%;
   left: 20%;
}
.categories .MEN-shop
{
   position: absolute;
   max-width: 500px;
   top: 40%;
   left: 70%;
}
.categories .MEN-shop h2
{
   text-align: center;
}
.categories .WOMEN-shop h4,.MEN-shop h4
{
    color: white;
    margin-left: 30px;
    font-family: inherit;
    margin-bottom: 5px;
}
.categories .WOMEN-shop h2,.MEN-shop h2
{
  color: white;
  margin-bottom: 5px;
  font-size: 26px;
}
 .categories .WOMEN-shop input,.MEN-shop  input
{
    border:none;
    background:none;
    outline: none;
    color: #FFF;
    font-size: 13px;
    border-style: solid;
    border-color: #FFF;
    border-radius: 0 0 0 0;
    padding: 1.3em 1.9em 1em 1.9em;
}
.WOMEN-shop input:hover,.MEN-shop  input:hover
{
    color:  #C99F3A;
    border-color: #C99F3A;
}

/*--------------trending products------------*/
.TRENDING-PRODUCTS
{
  position: relative;
  top: 100px;
   width: 100%;
}
.TRENDING-PRODUCTS h2
{
  text-align:  center;
  margin: 50px 10px;
}

.TRENDING-PRODUCTS ul
{
  position: absolute;
  margin-left:590px;
  list-style-type: none;
  margin-top: -40px;
}
.TRENDING-PRODUCTS ul li
{
  display: inline-block;
  margin-right: 25px;
  font-size: 16px;
  margin-top: -30px;
}
.TRENDING-PRODUCTS ul li a
{
  text-decoration: none;
  color: black;
}
.TRENDING-PRODUCTS ul li:hover
{
  color: #000;
}
 .TRENDING-PRODUCTS .row .col1 img
{
 width: 300px;
 height: 400px;
 object-fit:cover;
 object-position: center;
}
.TRENDING-PRODUCTS .row .col1 h4
{
  position: absolute;
  font-size: 14px;
  font-weight: bold;
  margin-left: 90px;
  color: #C99F3A;
  margin-top: 10px;
  font-family: inherit;
}
.TRENDING-PRODUCTS .row .col1 ul
{
  margin-left: 90PX;
  margin-top: 40px;
}

.TRENDING-PRODUCTS .row .col1 ul li
{
  margin-right: 10px;
}
/*-------------*/
 .TRENDING-PRODUCTS .row .col2
 {
  margin-left: 20px; 
}
.TRENDING-PRODUCTS .row .col2 img
{
 width: 300px;
 height: 400px;
 object-fit:cover;
 object-position: center;
 margin-left: 350px;
 margin-top: -407px;
 position: absolute;
}
.TRENDING-PRODUCTS .row .col2 h4
{
  position: absolute;
  font-size: 14px;
  font-weight: bold;
  margin-left: 440px;
  color: #C99F3A;
  margin-top: 10px;
  font-family: inherit;
}
.TRENDING-PRODUCTS .row .col2 ul
{
  margin-left: 410PX;
  margin-top: 40px;
}
.TRENDING-PRODUCTS .row .col2 ul li
{ 
  margin-right: 10px;
}
/*----------*/
 .TRENDING-PRODUCTS .row .col3
 {
   margin-left: 40px;
   background :red;
}
.TRENDING-PRODUCTS .row .col3 img
{
 width: 300px;
 height: 400px;
 object-fit:cover;
 object-position: center;
 margin-left: 650px;
 margin-top: -407px;
 position: absolute;
}
.TRENDING-PRODUCTS .row .col3 h4
{
  position: absolute;
  font-size: 14px;
  margin-left: 49%;
  font-weight: bold;
  color: #C99F3A;
  margin-top: 10px;
  font-family: inherit;
}
.TRENDING-PRODUCTS .row .col3 ul
{
  margin-left: 52%;
  margin-top: 40px;
 
}
.TRENDING-PRODUCTS .row .col3 ul li
{ 
  margin-right: 10px;
}
/*------------*/
 
.TRENDING-PRODUCTS .row .col4 img
{
 width: 300px;
 height: 400px;
 object-fit:cover;
 object-position: center;
 margin-left: 75%;
 margin-top: -407px;
 position: absolute;
}
.TRENDING-PRODUCTS .row .col4  h4
{
  position: absolute;
  font-size: 14px;
  margin-left: 75.5%;
  font-weight: bold;
   color: #C99F3A;
  margin-top: 10px;
  font-family: inherit;
}
.TRENDING-PRODUCTS .row .col4 ul
{
  margin-left: 79%;
  margin-top: 40px;
}
.TRENDING-PRODUCTS .row .col4 ul li
{ 
  margin-right: 10px;
}
/*------------*/
.col1:hover img ,.col2:hover img  ,.col3:hover img  ,.col4:hover img
{
    transform: translateY(-5px);
    transition-delay: 0.5s;
}
/*---------------customer-service-------*/
.CUSTOMER-SERVICE
{
  position: relative;
  background:#000;
  top:350px; 
  height: 200px;
}

.Payment-Delivery
{
  position: absolute;
  width: 25%;
  top: 15%;
}
.Payment-Delivery .fa
{
  margin-top: 15px;
  margin-bottom:5px;
  margin-left: 150px;
  font-size: 34px;
  color: #C99F3A;
}
.Payment-Delivery h3
{
   margin-bottom: 20px;
    margin-left: 70px;
    font-family: inherit;
   color: #fff;
}
.Payment-Delivery p
{
  color: #fff;
  font-family: inherit;
  margin-left: 40px;
  font-size: 16px;
}
/*----------*/
.Return-Refund
{
  position: absolute;
  width: 25%;
  left:25%;
  top: 15%;
}
.Return-Refund .fa
{
  margin-top: 15px;
  margin-bottom:5px;
  margin-left: 150px;
  font-size: 34px;
  color: #C99F3A;
}
.Return-Refund h3
{
   margin-bottom: 20px;
    margin-left: 90px;
    font-family: inherit;
   color: #fff;
}
.Return-Refund p
{
  color: #fff;
  font-family: inherit;
  margin-left: 38px;
  font-size: 16px;
}
/*------------*/
 .Secure-Payment
 {
  position: absolute;
  width: 25%;
  left:50%;
  top: 15%;
 }
  .Secure-Payment .fa
{
  margin-top: 15px;
  margin-bottom:5px;
  margin-left: 150px;
  font-size: 34px;
  color: #C99F3A;
}
 .Secure-Payment h3
{
   margin-bottom: 20px;
    margin-left: 90px;
    font-family: inherit;
   color: #fff;
}
.Secure-Payment p
{
  color: #fff;
  font-family: inherit;
  margin-left: 90px;
  font-size: 16px;
}
/*-----------*/
.Quality-Support
 {
  position: absolute;
  width: 25%;
  left:75%;
  top: 15%;
 }
  .Quality-Support .fa
{
  margin-top: 15px;
  margin-bottom:5px;
  margin-left: 150px;
  font-size: 34px;
  color: #C99F3A;
}
 .Quality-Support h3
{
   margin-bottom: 20px;
    margin-left: 90px;
    font-family: inherit;
   color: #fff;
}
.Quality-Support p
{
  color: #fff;
  font-family: inherit;
  margin-left: 60px;
  font-size: 16px;
}
/*-------------new arrivals--------*/
.new-arrivals
{
  position: relative;
  top: 350px;
   width: 100%;
}
.new-arrivals h2
{
  text-align:  center;
  margin-top: 50px;
  margin-bottom: 50px;
}
.new-arrivals ul
{
  position: absolute;
  margin-left:590px;
  list-style-type: none;
  margin-top: -40px;
}
.new-arrivals ul li
{
  display: inline-block;
  margin-right: 25px;
  font-size: 16px;
  margin-top: -30px;
}
.new-arrivals ul li a
{
  text-decoration: none;
  color: black;
}
.new-arrivals ul li:hover
{
  color: #000;
}
 .new-arrivals .row .col1 img
{
 width: 300px;
 height: 400px;
 object-fit:cover;
 object-position: center;
}
.new-arrivals .row .col1 h4
{
  position: absolute;
  font-size: 14px;
  font-weight: bold;
  margin-left: 75px;
 text-align: center;
  color: #C99F3A;
  margin-top: 10px;
  font-family: inherit;
}
.new-arrivals .row .col1 ul
{
  margin-left: 90PX;
  margin-top: 40px;

}
.new-arrivals .row .col1 ul li
{
  margin-right: 10px;
}
/*-------------*/
 .new-arrivals .row .col2
 {
  margin-left: 20px; 
}
.new-arrivals .row .col2 img
{
 width: 300px;
 height: 400px;
 object-fit:cover;
 object-position: center;
 margin-left: 350px;
 margin-top: -407px;
 position: absolute;
}
.new-arrivals .row .col2 h4
{
  position: absolute;
  font-size: 14px;
  font-weight: bold;
  margin-left: 400px;
  color: #C99F3A;
  margin-top: 10px;
  font-family: inherit;
}
.new-arrivals .row .col2 ul
{
  margin-left: 400PX;
  margin-top: 40px;
}
.new-arrivals .row .col2 ul li
{ 
  margin-right: 10px;
}
/*----------*/
 .new-arrivals .row .col3
 {
   margin-left: 40px;
   background :red;
}
.new-arrivals .row .col3 img
{
 width: 300px;
 height: 400px;
 object-fit:cover;
 object-position: center;
 margin-left: 650px;
 margin-top: -407px;
 position: absolute;
}
.new-arrivals .row .col3 h4
{
  position: absolute;
  font-size: 14px;
  margin-left: 49%;
  font-weight: bold;
  color: #C99F3A;
  margin-top: 10px;
  font-family: inherit;
}
.new-arrivals .row .col3 ul
{
  margin-left: 52%;
  margin-top: 40px;
  
}
.new-arrivals .row .col3 ul li
{ 
  margin-right: 10px;
}
/*------------*/
 
.new-arrivals .row .col4 img
{
 width: 300px;
 height: 400px;
 object-fit:cover;
 object-position: center;
 margin-left: 75%;
 margin-top: -407px;
 position: absolute;
}
.new-arrivals .row .col4  h4
{
  position: absolute;
  font-size: 14px;
  margin-left: 76%;
  font-weight: bold;
   color: #C99F3A;
  margin-top: 10px;
  font-family: inherit;
}
.new-arrivals .row .col4 ul
{
  margin-left: 1060px;
  margin-top: 40px;
  text-align: center;
}
.new-arrivals .row .col4 ul li
{ 
  margin-right: 10px;
}
/*------------*/
.col1:hover img ,.col2:hover img  ,.col3:hover img  ,.col4:hover img
{
    transform: translateY(-5px);
    transition-delay: 0.5s;
}
/*------*/
.new-arrivals2
{
  position: relative;
  top: 250px;
}
}
/*-------------- shop by Brands-----------------*/
.brands
{
  position: relative;
  margin: 10px 50px;
  top: 100%;
}
.brands
{
  position: relative;
  top: 420px;
  height: 200px;
}
.brands h2
{
  position: absolute;
  text-align: center;
  top: 30px;
  left: 44%;
  font-family: inherit;
}
.brands img 
{
  width: 15%;
  height: 100px;
  object-position: center;
  object-fit: cover;
  filter: grayscale(100%);
  transition: 1s;
}
.brands img:hover
{
  filter: grayscale(0);
  transform: scale(1.1);
}
.brand1 img
{
 margin-left: 70px;
  margin-top: 80px;
}
.brand2 img
{
  position: absolute;
  left: 280px; 
  top: 85px;
}
.brand3 img
{
  position: absolute;
  left: 520px; 
  top: 85px;
}
.brand4 img
{
  position: absolute;
  left: 780px; 
  top: 85px;
}
.brand5 img
{
  position: absolute;
  left: 1030px; 
  top: 85px;
}
/*--------------------season-------*/
.container-season
{
  position: relative;
  top:850px;
}
.container-season img
{
  position: absolute;
width: 570px;
 height: 600px;
 object-fit:cover;
 object-position: center;
 left: 30px;
}
.COL1
{
  position: absolute;
  left: 20%;
  top: 300px;
}
.r1-container h5
{
  
  text-align: center;
   margin-bottom: 16px;
   color: #FFF;
   font-weight: 400;
    text-transform: uppercase;
    line-height: 1.2em;
    letter-spacing: .65px;
    font-family: inherit;
}
.r2-container h3
{
    font-family: inherit;
    font-size: 1.6rem;
    line-height: 1.1;
    letter-spacing: -.03em;
    color: #fff;
    text-transform:uppercase;
    margin: 0 0 1.4rem 0;
    text-align: center;
}
.r3-container input
{
    margin-left: 13%;
    border:none;
    background:none;
    outline: none;
    color: #FFF;
    font-size: 13px;
    border-style: solid;
    border-color: #FFF;
    border-radius: 0 0 0 0;
    padding: 1.3em 1.9em 1em 1.9em;
}
.r3-container input:hover
{
    color:  #C99F3A;
    border-color: #C99F3A;
}
/*-----------subsribe------*/
.subsribe-container
{
  position: relative;
  top:800px;
  left: 40%;
}
.subsribe .COL1 .r1 .r1-container h3
{
   
   text-align: center;
   margin-bottom: 16px;
   color: #000;

   font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2em;
    letter-spacing: .65px;
    font-family: inherit;
}
.subsribe .COL1 .r2 .r2-container p
{
    font-family: "Poppins";
  
    font-size: 1.rem;
   
    line-height: 1.86;
    letter-spacing: 0;
    color: #666;
    text-transform: none;
    margin: 0 0 1.5rem 0;
    text-align: center;
}
.subsribe .COL1 .r2 .r2-container span
{
  color: #C99F3A;
} 
.subsribe .COL1 .r4 .r4-container input {
    border: 2px solid #f0f0f0;
    display: block;
    font-family: inherit;
    font-size: 14px;
    padding: 10px;
    width: 100%;
}

 .subsribe .COL1 .r4 .r4-container input
{
    width: 100%;
    margin-bottom: 20px;
}
.subsribe .COL1 .r4 .r4-container input:focus {
    outline: 0;
    border-color: #C99F3A;
}
.subsribe .COL1 .r3 .r3-container input
{
    margin-left: 40%;
    color: #000;
    border-color: #000;
}
.subsribe .COL1 .r3 .r3-container input:hover
{
    color:  #C99F3A;
    border-color: #C99F3A;
}

/*------------footer-----------*/
.footer
{
    height: 1050px;
    background: black;
    margin-top: 1500px;
}
.row
{
    height: 250px;
}
.col-1
{
    width: 25%;
}
.app-logo
{
    margin-top: 20px;
}
.app-logo img 
{ 
    width: 30%;
    margin-left: 40px;
}
.col-1 h3
{
    color: #fff;
  margin-bottom: 30px;
    text-align: center;
    padding-top: 40px;
}
.col-1 p
{
    color: #8a8a8a;
    margin-left: 70px;
    font-family: none;
}
.col-2
{
    width: 25%;
    left: 25%;
    position: absolute;
    margin-top: -173px;
}
.col-2 ul
{
   margin-top: -20px;
}
.col-2 li
{
    width: 60%;
   color:#8a8a8a ;
   margin-left: 105px;
   list-style-type: none;
   margin-bottom: 4px;
  
}
.col-2 li:hover
{
 color:#C99F3A ;
}
.col-2 ul a
{
    text-decoration: none;
}
.col-2 h3
{
    color: #fff;
  margin-bottom: 30px;
    text-align: center;
    padding-top: 40px;
}
.col-3
{
    position: absolute;
    left: 50%;
    width: 25%;
    margin-top: -173px;
}
.col-3 h3
{
    color: #fff;
  margin-bottom: 30px;
    text-align: center;
    padding-top: 40px;
}
.col-3 ul
{
   margin-top: -20px;
}
.col-3 li
{
    width: 60%;
   color:#8a8a8a ;
   margin-left: 78px;
   list-style-type: none;
   margin-bottom: 4px;
  
}
.col-3 li:hover
{
 color:#C99F3A ;
}
.col-3 ul a
{
    text-decoration: none;
}
.col-4
{
    position: absolute;
    left: 75%;
    width: 25%;
    margin-top: -173px;
}
.col-4 h3
{
    color: #fff;
  margin-bottom: 30px;
    text-align: center;
    padding-top: 40px;
}
.col-4 ul
{
   margin-top: -20px;
}
.col-4 li
{
    width: 60%;
   color:#8a8a8a ;
   margin-left: 105px;
   list-style-type: none;
   margin-bottom: 4px;
  
}
.col-4 li:hover
{
 color:#C99F3A ;
}
.col-4 ul a
{
    text-decoration: none;
}
.footer hr
{
    position: absolute;
  border: none;
    background:#8a8a8a ;
  height: 1px;
    margin-top:1Opx;
}
.footer-payment
{ 
    position: absolute;
    margin-top: 30px;
    width: 25%;
    left: 20%;
}
.footer-payment h3
{
    color: #fff;
  margin-bottom: 30px;
    text-align: center;
    padding-top: 40px;
}
.footer-payment ul li
{
    margin-top: -30px;
    margin-left: 55px; 
}
.footer-payment ul li
{
    display: inline-block;
}
.footer-payment ul li .fa
{
    font-size: 30px;
    color: #8a8a8a;  
}
.footer-socail-media
{
    position: absolute;
    width: 25%;
    left: 55%;
    margin-top: 30px;
}
.footer-socail-media h3
{
    color: #fff;
  margin-bottom: 30px;
    text-align: center;
    padding-top: 40px;
}
.footer-socail-media ul li
{
    margin-top: -30px;
    margin-left: 65px; 
}
.footer-socail-media ul li
{
    display: inline-block;
}
.footer-socail-media ul li .fa
{
    font-size: 30px;
    color: #8a8a8a;  
}
.footer-socail-media ul li .fa:hover
{
 color: #C99F3A; 
}
.footer .copy-right hr
{
    position: relative;
  border: none;
    background:#8a8a8a ;
    margin-top: 200px;
    margin-bottom: 50px;
}
.copy-right 
{
  text-align: center;
}
.copy-right p
{ 
    margin-bottom: 0;
    margin-top: 50Px;
    color: #fff;
}
