*{
    margin:0;
    padding:0;
}
body
{
margin: 0;
padding: 0;
background-repeat: cover;
font-family: Poppins;
overflow-x: hidden;

}
a{text-decoration: none;}
.header
{
   position: relative;
   height: 166px;
}
.header-top
{ 
  position: absolute;  
  height: 33px;
  width: 100%;
}
/*-----------style header-right---------*/
.header-right
{
    width: 15%;
    margin-left: 850px;
    margin-top: 7px;
}
.header-right ul
{
    margin-left: 10px;
    text-align: right;
    text-align: center;
}
.header-top ul li
{
    display: inline-block;
}
.header-right li
{
    margin-left: 15px;
}
.header-right ul li .fa
{
    font-size: 15px;
    line-height: 20px;
    transition: .6s;
    color: #C99F3A;
}

.login
{
    position: absolute;
    margin-left: 1045px;
    margin-top: -25px;
}
.login ul
{
    margin-left: 10px;
   /* text-align: right;*/
   /* text-align: center;*/
}
.login li
{
    display: inline-block;
}
.login li
{
    margin-left: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:13px;
}
 .login ul li .fa
{
    font-size: 15px;
    line-height: 20px;
    transition: .6s;
    color: #C99F3A;
    margin-right: 7px;
}
/*-----------style header-left--------*/
.header-left
{
    margin-top: -17px;
    margin-left: 97px;
}
p{
    color:#C99F3A;
    font-family: 'Courier New', Courier, monospace;
}
hr
{
    margin-top: 10px;
    width: 84%;
    margin-left: 98px;
    
}
/*------------header-middle-------*/
.header-middle
{
    position: absolute;
    width: 100%;
    margin-top: 30px;
    height: 83px ;
}
.search-box
{
    margin-left: 100px;
    transition: translate(-50%,-50%);
    height: 30px;
    float:left;
    border-radius: 40px;
    padding: 10px;
    margin-top: 22.5px; 
}
.search-btn
{
    color:black;
    float:left;
    width : 30px;
    height: 30px;
    border-radius: 50%;
    background:#fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 4px;
}
.search-btn .fa:hover
{
    color: #C99F3A;
}
.search-txt
{
    border: none;
    background: none;
    outline: none;
    float: right;
    padding: 0;
    color: black;
    font-size: 15px;
    margin-left: 5px;
    margin-top: 5px;
}
/*---------logo---------*/
.logo
{
    position: absolute;
    margin-top: 33px; 
    margin-left: 500px;
    width: 20%;
    justify-content: center;
}
 .logo img
{
    margin-left: 50px;
    width: 60%;
}
/*---------wishlist-------*/
.wishlist
{
    position: absolute;
    left: 990px;
    top: 30px; 
}
.wishlist-link .fa
{
    font-size: 25px;
    line-height: 30px;
    color: #000;
    margin-right: 10px;
}
.wishlist-link .fa:hover
{
    color: #C99F3A ;
}
.wishlist-count ,.cart-count
{
    position: absolute;
    border-radius: 50%;
    padding:0px 7px;
    left: 18px;
    top: -10px;
    background-color: #C99F3A;
    display: inline-block;
    color: #000;
  }
.wishlist-txt:hover
{
    color:  #C99F3A;
}
.wishlist-txt ,.cart-txt
{
  color: black;
}
/*--------cart------------*/
.cart
{
    position: absolute;
    left: 1130px;
    top: 30px; 
}
.cart-products .fa
{
    font-size: 25px;
    line-height: 30px;
    color: #000;
    margin-right: 10px;
}
.cart-products .fa:hover
{
    color: #C99F3A ;
}
.cart-txt:hover
{
  color: #C99F3A;
}

/*----------menu-bar style--------*/
.menu-bar
{ 
  position:absolute;
  background:#000;
  text-align: left;
  height: 50px;
  margin-top: 114px;
  width: 100%;
}
.menu-bar ul
{   
    display:inline-flex;
    margin-left: 80px;
    list-style: none;
    padding: 6px;
    
}
.menu-bar ul li
{
    list-style: none;
    margin: 10px;
    font-family: 'Archivo Black', sans-serif;
}
.menu-bar ul li a
{
    color: #fff;
    text-decoration:none;
}
.active ,.menu-bar ul li a:hover
{
  border-bottom:  2px solid #C99F3A;
}
.menu-bar ul li a:hover
{
  color: #C99F3A;
}
/*-----------------sub-menu-1-----------*/
.sub-menu-1
{
    display:none;
    position: absolute;
    z-index: 1000;
}
.menu-bar ul li:hover .sub-menu-1
{
    display: block;
    position: absolute;
    background: #000;
    margin-top: 1px;
}
.menu-bar ul li:hover .sub-menu-1 ul
{
    display: block;
    margin: 10px;
}
.menu-bar ul li:hover .sub-menu-1 ul li
{
    width: 150px;
    padding: 5px;
    border-bottom: 1px dotted #fff;
}
.menu-bar ul li:hover .sub-menu-1 ul li:last-child
{
    border-bottom: none;
}
.menu-bar ul li:hover .sub-menu-1 ul li a:hover
{
    color: #C99F3A;
    border-bottom: 0;
}
/*------------offre-----*/
.offre
{
    position: absolute;
    margin-top: 112px;
    margin-left: 965px;
}
.offre i
{ 
    margin-top: 15px; 
    color:  #C99F3A;
    font-size: 20px;
    line-height: 20px;
}
.offre p
{
   color: white;
   margin-left: 30px;
}
p{
    margin-top: -19px;
}
/*-------------------single product------------------------*/
.card-wrapper{
    max-width: 1100px;
    margin: 200px auto;
}
.card-wrapper img{
    width: 100%;
    display: block;

}
.img-display{
    overflow: hidden;
}
.img-showcase{
    display: flex;
    width: 100%;
    transition: all 0.5s ease;
}
.img-showcase img{

   min-width: 100%;
} 
.img-select{
    display: flex;
}
.img-item{
    margin: 0.3rem;
}
.img-item:nth-child(1),
.img-item:nth-child(2),
.img-item:nth-child(3){
    margin-right: 0;
}
.img-item:hover{
    opacity: 0.8;
}
.product-content{
    padding: 0px 10px;
}
.product-title{
    font-size: 2rem;
    text-transform: capitalize;
    font-weight: 700;
    position: relative;
    color: #000;
    margin: 1rem 0;
}
.product-title::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 400px;
    background: #C99F3A;
}
.product-link{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 0.9rem;
    display: inline-block;
    margin-bottom: 0.5rem;
    background: #C99F3A;
    color: #fff;
    padding: 0 0.3rem;
    transition: all 0.5s ease;
}
.product-link:hover{
    opacity: 0.8;
    color: black;
}
.product-rating{
    color: #ffc107;
    margin-bottom:1.5rem ;
}
.product-rating span{
    font-weight: 600;
    color: #252525;
}
.product-price{
    margin: 1rem 0;
    font-size: 1rem;
    font-weight: 700;
}
.product-price p
{
  color: black;
  font-family: inherit;
}
.last-price span{
    color: red;
    text-decoration: line-through;
}
.new-price span{
    color: #C99F3A;
}
.new-price
{
  margin-top: 3px;
}
.product-detail h2{
    text-transform: capitalize;
    color: #000;
    padding-bottom: 1rem;
}
.product-detail p{

    font-size: 0.9rem;
    padding: 0.3rem;
    opacity: 0.8;
    color: #8a8a8a;
    font-family: inherit;
}
.product-detail ul{
    margin: 1rem -1rem;
    font-size: 0.9rem;
}
.product-detail ul li{
    margin: 0;
    list-style: none;
    background: url(photos/cart4.png) left center no-repeat;
    background-size: 18px;
    padding-left: 1.7rem;
    margin: 0.4rem 0;
    font-weight: 600;
    opacity: 0.9;
}
.product-detail ul li span{
    font-weight: 400;
}
.purchase-info{
    margin: 1.5rem 0;
}
.purchase-info input,
.purchase-info .btn{
    border: 1.5px solid #ddd;
    border-radius: 25px;
    text-align: center;
    padding: 0.45rem 0.8rem;
    outline: 0;
    margin-right: 0.2rem;
    margin-bottom: 1rem;
}
.purchase-info input{
    width: 60px;
}
.purchase-info .btn{
    cursor: pointer;
    color: #C99F3A;
}
.purchase-info .btn
{
 background:#FFF;
}
.purchase-info .btn:hover
{
  background:#C99F3A;
  color: white;
}
.purchase-info span
{
  font-weight: 600;
  margin:0 1rem; 
}
.social-links{
    display: flex;
    align-items: center;
}
.social-links a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    color: #8a8a8a;
    border: 1px solid #8a8a8a;
    margin: 0 0.5rem;
    border-radius: 50%;
    text-decoration: none;
    font-size: 0.8rem;
    transition: all 0.5s ease;
}
.social-links p
{
   color: #8a8a8a;
   font-size: 20px;
   margin-top: 5px;
   text-transform: uppercase;
}
.social-links a:hover{
    background: #C99F3A;
    border-color: transparent;
    color: #fff;
}


@media screen and (min-width: 992px){
    .card{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1.5rem;
    }
    .card-wrapper{
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .product-imgs{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .product-content{
        padding-top: 0;
    }
}
/*-------------new arrivals--------*/
.new-arrivals
{
  position: relative;
   width: 100%;
}
.new-arrivals h2
{
  text-align:  center;
  margin-top: 50px;
  margin-bottom: 50px;
}
.new-arrivals ul
{
  position: absolute;
  margin-left:590px;
  list-style-type: none;
  margin-top: -40px;
}
.new-arrivals ul li
{
  display: inline-block;
  margin-right: 25px;
  font-size: 16px;
  margin-top: -30px;
}
.new-arrivals ul li a
{
  text-decoration: none;
  color: black;
}
.new-arrivals ul li:hover
{
  color: #000;
}
 .new-arrivals .row .col1 img
{
 width: 300px;
 height: 400px;
 object-fit:cover;
 object-position: center;
}
.new-arrivals .row .col1 h4
{
  position: absolute;
  font-size: 14px;
  font-weight: bold;
  margin-left: 75px;
 text-align: center;
  color: #C99F3A;
  margin-top: 10px;
  font-family: inherit;
}
.new-arrivals .row .col1 ul
{
  margin-left: 90PX;
  margin-top: 40px;

}
.new-arrivals .row .col1 ul li
{
  margin-right: 10px;
}
/*-------------*/
 .new-arrivals .row .col2
 {
  margin-left: 20px; 
}
.new-arrivals .row .col2 img
{
 width: 300px;
 height: 400px;
 object-fit:cover;
 object-position: center;
 margin-left: 350px;
 margin-top: -407px;
 position: absolute;
}
.new-arrivals .row .col2 h4
{
  position: absolute;
  font-size: 14px;
  font-weight: bold;
  margin-left: 400px;
  color: #C99F3A;
  margin-top: 10px;
  font-family: inherit;
}
.new-arrivals .row .col2 ul
{
  margin-left: 400PX;
  margin-top: 40px;
}
.new-arrivals .row .col2 ul li
{ 
  margin-right: 10px;
}
/*----------*/
 .new-arrivals .row .col3
 {
   margin-left: 40px;
   background :red;
}
.new-arrivals .row .col3 img
{
 width: 300px;
 height: 400px;
 object-fit:cover;
 object-position: center;
 margin-left: 650px;
 margin-top: -407px;
 position: absolute;
}
.new-arrivals .row .col3 h4
{
  position: absolute;
  font-size: 14px;
  margin-left: 49%;
  font-weight: bold;
  color: #C99F3A;
  margin-top: 10px;
  font-family: inherit;
}
.new-arrivals .row .col3 ul
{
  margin-left: 52%;
  margin-top: 40px;
  
}
.new-arrivals .row .col3 ul li
{ 
  margin-right: 10px;
}
/*------------*/
 
.new-arrivals .row .col4 img
{
 width: 300px;
 height: 400px;
 object-fit:cover;
 object-position: center;
 margin-left: 75%;
 margin-top: -407px;
 position: absolute;
}
.new-arrivals .row .col4  h4
{
  position: absolute;
  font-size: 14px;
  margin-left: 76%;
  font-weight: bold;
   color: #C99F3A;
  margin-top: 10px;
  font-family: inherit;
}
.new-arrivals .row .col4 ul
{
  margin-left: 1060px;
  margin-top: 40px;
  text-align: center;
}
.new-arrivals .row .col4 ul li
{ 
  margin-right: 10px;
}
/*------------*/
.col1:hover img ,.col2:hover img  ,.col3:hover img  ,.col4:hover img
{
    transform: translateY(-5px);
    transition-delay: 0.5s;
}
/*------*/
.new-arrivals2
{
  position: relative;
  top: 250px;
}

/*------------footer-----------*/
.footer
{
    height: 1050px;
    background: black;
    margin-top: 500px;
}
.row
{
    height: 250px;
}
.col-1
{
    width: 25%;
}
.app-logo
{
    margin-top: 20px;
}
.app-logo img 
{ 
    width: 30%;
    margin-left: 40px;
}
.col-1 h3
{
    color: #fff;
  margin-bottom: 30px;
    text-align: center;
    padding-top: 40px;
}
.col-1 p
{
    color: #8a8a8a;
    margin-left: 70px;
    font-family: none;
}
.col-2
{
    width: 25%;
    left: 25%;
    position: absolute;
    margin-top: -173px;
}
.col-2 ul
{
   margin-top: -20px;
}
.col-2 li
{
    width: 60%;
   color:#8a8a8a ;
   margin-left: 105px;
   list-style-type: none;
   margin-bottom: 4px;
  
}
.col-2 li:hover
{
 color:#C99F3A ;
}
.col-2 ul a
{
    text-decoration: none;
}
.col-2 h3
{
    color: #fff;
  margin-bottom: 30px;
    text-align: center;
    padding-top: 40px;
}
.col-3
{
    position: absolute;
    left: 50%;
    width: 25%;
    margin-top: -173px;
}
.col-3 h3
{
    color: #fff;
  margin-bottom: 30px;
    text-align: center;
    padding-top: 40px;
}
.col-3 ul
{
   margin-top: -20px;
}
.col-3 li
{
    width: 60%;
   color:#8a8a8a ;
   margin-left: 78px;
   list-style-type: none;
   margin-bottom: 4px;
  
}
.col-3 li:hover
{
 color:#C99F3A ;
}
.col-3 ul a
{
    text-decoration: none;
}
.col-4
{
    position: absolute;
    left: 75%;
    width: 25%;
    margin-top: -173px;
}
.col-4 h3
{
    color: #fff;
  margin-bottom: 30px;
    text-align: center;
    padding-top: 40px;
}
.col-4 ul
{
   margin-top: -20px;
}
.col-4 li
{
    width: 60%;
   color:#8a8a8a ;
   margin-left: 105px;
   list-style-type: none;
   margin-bottom: 4px;
  
}
.col-4 li:hover
{
 color:#C99F3A ;
}
.col-4 ul a
{
    text-decoration: none;
}
.footer hr
{
    position: absolute;
  border: none;
    background:#8a8a8a ;
  height: 1px;
    margin-top:1Opx;
}
.footer-payment
{ 
    position: absolute;
    margin-top: 30px;
    width: 25%;
    left: 20%;
}
.footer-payment h3
{
    color: #fff;
  margin-bottom: 30px;
    text-align: center;
    padding-top: 40px;
}
.footer-payment ul li
{
    margin-top: -30px;
    margin-left: 55px; 
}
.footer-payment ul li
{
    display: inline-block;
}
.footer-payment ul li .fa
{
    font-size: 30px;
    color: #8a8a8a;  
}
.footer-socail-media
{
    position: absolute;
    width: 25%;
    left: 55%;
    margin-top: 30px;
}
.footer-socail-media h3
{
    color: #fff;
  margin-bottom: 30px;
    text-align: center;
    padding-top: 40px;
}
.footer-socail-media ul li
{
    margin-top: -30px;
    margin-left: 65px; 
}
.footer-socail-media ul li
{
    display: inline-block;
}
.footer-socail-media ul li .fa
{
    font-size: 30px;
    color: #8a8a8a;  
}
.footer-socail-media ul li .fa:hover
{
 color: #C99F3A; 
}
.footer .copy-right hr
{
    position: relative;
  border: none;
    background:#8a8a8a ;
    margin-top: 200px;
    margin-bottom: 50px;
}
.copy-right 
{
  text-align: center;
}
.copy-right p
{ 
    margin-bottom: 0;
    margin-top: 50Px;
    color: #fff;
}
